* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #696969;
  --lightgray: #a9a7a7;
}

.header {
  background-color: white;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 20;
}
.header_menu {
  font-size: 1em;
  margin-top: 0.5%;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}
.header_menu a {
  text-decoration: none;
  color: black;
}
.new_pink {
  color: #ff3f6c;
  margin-left: -2%;
  font-size: small;
}
#lensIcon {
  color: rgb(156, 154, 154);
}
.header_input_div {
  background-color: rgb(244, 242, 242);
  width: 22%;
  margin-left: 5%;
  margin-right: 2%;
  padding: 0.5%;
  height: 25%;
}
.header_input {
  border: none;
  width: 92%;
  background-color: rgb(244, 242, 242);
}
.header_icon_div {
  cursor: pointer;
  font-size: small;
}
.header_icon_div i {
  margin-left: 25%;
  color: black;
}
.logo {
  cursor: pointer;
  width: 4%;
}

/* ================================Header Sub menu================ */

.header_submenu {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(133, 132, 132);
  cursor: pointer;
  display: flex;
  margin-top: 4.5%;
  width: 50%;
  position: absolute;
  left: 12%;
  top: 3%;
}
.header_submenu p b {
  color: #ff3f6c;
}
.submenu_column {
  margin: 5%;
}
.submenu_column p {
  margin-top: 10%;
}
.men {
  display: none;
}
.women {
  display: none;
}
.kids {
  display: none;
}
.home {
  display: none;
}
.beauty {
  display: none;
}
.studio {
  display: none;
}
.profile {
  display: none;
}
.header_profile_submenu_div {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(99, 98, 98);
  cursor: pointer;
  position: absolute;
  margin-top: 1%;
  margin-left: -8.7%;
  padding: 1%;
  font-size: medium;
}
.header_profile_submenu_div p b {
  color: black;
}
.header_profile_submenu_hr {
  margin-top: 7%;
}
.login_div {
  border: 1px solid rgb(167, 164, 164);
  color: #ff3f6c;
  display: inline;
  padding: 8px;
}
.login_div a {
  color: #ff3f6c;
  text-decoration: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/* ========================For Tab and Mobile view============== */

p {
  margin: 0%;
  padding: 0%;
}
.burger_div p {
  width: 50%;
  margin-top: -9%;
}
.menu li {
  list-style: none;
  padding: 5%;
  border-bottom: 1px solid rgb(145, 133, 133);
}
.menu li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: large;
  font-weight: bold;
}
.menu li i {
  float: right;
  cursor: pointer;
}
.sidebarMenu {
  height: 100%;
  position: fixed;
  margin-top: 3%;
  left: 0;
  width: 50%;
  background-color: rgb(165, 165, 165);
  display: none;
}

.header_profile_submenu_div p {
  margin-bottom: 10px;
}
.counter {
  /* border: 1px solid; */
  background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #9d9ea2;
  padding: 1%;
}
.timer {
  color: #ff3f6c;
}

@media only screen and (max-width: 1200px) {
  .header_menu,
  .logo,
  .header_input_div,
  .header_icon_text,
  .new_pink {
    display: none;
  }
  .burger_div {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .burger_div {
    display: none;
  }
}

/* =========================vineet's header code end======================= */
body {
  /* background-color: rgb(247, 247, 196); */
  background-image: linear-gradient(to bottom right, #fcecf3, #f6eade);
}
.main{
    /* border: 1px solid; */
    width: 25%;
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.main div {
  padding: 2.5%;
}
.heading {
  text-align: center;
}
.phone_no_div {
  display: flex;
  justify-content: space-between;
  color: #9a9999;
}
.blue_tick {
  color: rgb(4, 191, 101);
}
/* .password_div{
  height: 10%;
} */
.password_div input {
  border: 1px solid #cecccc;
  width: 100%;
  padding: 2.5%;
}
.password_specification {
  display: flex;
  margin-top: -3%;
}
.password_specification div {
  background-color: rgb(225, 224, 224);
  padding: 1%;
  margin: 1%;
  color: var(--lightgray);
}
.name_div input {
  border: 1px solid #cecccc;
  width: 100%;
  padding: 2.5%;
}
.email_div input {
  border: 1px solid #cecccc;
  width: 100%;
  padding: 2.5%;
}
.select_gender_div {
  display: flex;
  justify-content: space-evenly;
  color: #9a9999;
}
.alt_mobile_no input {
  border: 1px solid #cecccc;
  width: 100%;
  padding: 2.5%;
}
.recover_acc_text_div p {
  color: #9a9999;
  font-size: smaller;
  margin-top: -4%;
}
.create_acc_btn_div button {
  width: 100%;
  padding: 3%;
  background-color: rgb(255, 33, 96);
  color: white;
  border: none;
}
#user-alreay-exist{
  color: red;
  text-align: center;
  display: none;
}

@media only screen and (max-width: 1300px) {
  .password_specification {
    display: none;
  }
}
