*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: #fafbfc;
    font-family: Arial, Helvetica, sans-serif;
}
footer .container{
    display: flex;
    width: 72%;
    padding: 50px 0px 0px 0px;
    margin: auto;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer .sub-container{
    margin: 0px 20px 0px 20px;
}
footer .sub-container .btn{
    margin: 10px 0px 0px 0px;
    font-size: 0.7em;
}
.container .sub-container .online-shopping-tab,.useful-link-tab,.customer-policies-tab,.myntra-app-tab,.logos{
    margin-top: 20px;
}
footer .sub-container .heading{
    margin:30px 0px 30px 0px;
    font-size: 0.8em;
    font-weight: bold;
}
.sub-container .myntra-app .myntra-app-tab{
    display: flex;
    width: 150px;
    height: 50px;
    object-fit: cover;
}
.sub-container .myntra-app .myntra-app-tab img{
    height: 100%;
    width: 100%;
    margin: 0px 10px 0px 0px;
}
.sub-container .keep-in-touch .logos{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.sub-container .keep-in-touch .logos svg {
    height: 20px;
    width: 20px;
}
.sub-container .original{
    display: flex;
}
footer .original-return{
    margin: 30px 0px 0px 150px;
}
.sub-container .original img{
    height: 50px;
    width: 50px;
    margin: 0px 20px 0px 0px;
}
.sub-container .original .text span{
    color: black;
    font-weight:bold ;
}
