* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(225, 224, 224);
}



/* =======================================tanya new men's page====================================== */

.menimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menimage img {
  width: 300px;
  margin: 10px 15px;
}

.menimage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menimage1 img {
  width: 220px;
}
.menimage2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.menimage2 img {
  width: 230px;
  margin: 0px 23px;
}
.menimage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.menimage3::-webkit-scrollbar{
  display: none;
}
.menimage3 img {
  width: 200px;
  margin: 0px 15px;
}
.menimage4 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.menimage4::-webkit-scrollbar{
  display: none;
}
.menimage4 img {
  width: 240px;
  margin: 0px 18px;
}
h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.5em;
  margin: 15px 0 10px 20px;
  max-height: 5em;
  font-weight: 500;
  padding: 4%;
  text-align: center;
}

@media only screen and (max-width: 1367px) {
  .menimage img{
    width: 290px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 210px;
  }
  .menimage2 img{
    width: 250px;
    margin: 0px 0px;
  }
  .menimage3 img{
    width: 180px;
  }
  .menimage4 img{
    width: 220px;
  }
.text-banner-container  h4{
    font-size: 1.8em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 1281px) {
  .menimage img{
    width: 290px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 210px;
  }
  .menimage2 img{
    width: 250px;
    margin: 0px 0px;
  }
  .menimage3 img{
    width: 180px;
  }
  .menimage4 img{
    width: 220px;
  }
.text-banner-container  h4{
    font-size: 1.8em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 1025px) {
  .menimage img{
    width: 230px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 165px;
  }
  .menimage2 img{
    width: 200px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 913px) {
  .menimage img{
    width: 200px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 150px;
  }
  .menimage2 img{
    width: 180px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 821px) {
  .menimage img{
    width: 179px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 133px;
  }
  .menimage2 img{
    width: 160px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 769px) {
  .menimage img{
    width: 177px;
    margin: 5px 5px;
  }
  .menimage1 img{
    width: 123px;
  }
  .menimage2 img{
    width: 150px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 541px) {
  .menimage img{
    width: 109px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 86px;
  }
  .menimage2 img{
    width: 104px;
    margin: 0px 0px;
  }
  .menimage3 img{
    width: 150px;
    margin: 0px 5px;
  }
  .menimage4 img{
    width: 150px;
    margin: 0px 5px;
  }
.text-banner-container  h4{
    font-size: 1.5em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 415px) {
  .menimage img{
    width: 100px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 130px;
  }
  .menimage2 img{
    width: 80px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 394px) {
  .menimage img{
    width: 95px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 130px;
  }
  .menimage2 img{
    width: 75px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 376px) {
  .menimage img{
    width: 90px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 120px;
  }
  .menimage2 img{
    width: 70px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}



