* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(225, 224, 224);
}

/* footer */

footer {
  background-color: #fafbfc;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-container {
  /* display: flex; */
  width: 72%;
  /* padding: 50px 0px 0px 0px; */
  margin-left: 10%;
}
.container-1 {
  display: flex;
  width: 100%;
  margin-left: -64px;
  margin-bottom: 20px;
}
.festive-off {
  display: flex;
  flex-wrap: wrap;
}
.festive-off img {
  width: 400px;
  margin: auto;
}

footer .shop-container {
  display: none;
  margin-left: 0px;
}
.shop-container .shop-container-tab {
  display: flex;
  margin: 56px 0px 0px -64px;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer .container-1 .sub-container {
  margin: 0px 15px 0px 12px;
}
footer .sub-container .btn {
  margin: 10px 0px 0px 0px;
  font-size: 0.8em;
}
.container .container-1 .sub-container .online-shopping-tab,
.useful-link-tab,
.customer-policies-tab,
.myntra-app-tab,
.logos,
.shop-container {
  margin-top: 20px;
}
footer .container-1 .sub-container .heading {
  margin: 30px 0px 30px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-1 .sub-container .myntra-app .myntra-app-tab {
  display: flex;
  width: 150px;
  height: 50px;
  object-fit: cover;
}
footer .sub-container .keep-in-touch-res {
  display: none;
}
.sub-container .myntra-app .myntra-app-tab img {
  height: 100%;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.sub-container .keep-in-touch .logos {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.sub-container .keep-in-touch .logos svg {
  height: 20px;
  width: 20px;
}
.sub-container .original {
  display: flex;
}
footer .container-1 .original-return {
  margin: 30px 0px 0px 150px;
}
.sub-container .original img {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;
}
.sub-container .original .text span {
  color: black;
  font-weight: bold;
}
.container-2 {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container-2 .heading {
  margin: 20px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-2 .item-container {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.container-2 .item-container a {
  font-size: 0.8em;
}
.container-2 .item-container .item {
  margin: 0px 10px 0px 0px;
}
.container-2 .contact-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-2 .contact-div .contact a {
  color: blue;
}
.container-2 .contact-div .all-right {
  color: gray;
}
.container-3 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.container-3 .heading {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}
.container-3 .cont-1,
.cont-2 {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 16px;
}
.container-3 p {
  margin-top: 20px;
}
.container-3 .cont-2 p {
  margin-top: 90px;
}
.container-4 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}
.container-4 .heading {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}
.container-4 .text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: gray;
  font-size: 0.8em;
  margin-bottom: 25px;
}
.container-5 .text {
  font-size: 0.8em;
  color: gray;
  margin-top: 20px;
}
.container-5 .cont-2 {
  margin-left: 50px;
  margin-top: 20px;
}
.container-5 .cont-2 span {
  color: black;
  font-size: bold;
  font-size: 1.2em;
}
.container-5 .cont-2 .heading {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

/* =======================================tanya new men's page====================================== */

.menimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menimage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menimage img {
  width: 300px;
  margin: 10px 15px;
}
.menimage1 img {
  width: 220px;
}
.menimage2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.menimage2 img {
  width: 230px;
  margin: 0px 23px;
}
.menimage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.menimage3::-webkit-scrollbar{
  display: none;
}
.menimage3 img {
  width: 200px;
  margin: 0px 15px;
}
.menimage4 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.menimage4::-webkit-scrollbar{
  display: none;
}
.menimage4 img {
  width: 240px;
  margin: 0px 18px;
}
h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.5em;
  margin: 15px 0 10px 20px;
  max-height: 5em;
  font-weight: 500;
  padding: 4%;
  text-align: center;
}




@media only screen and (max-width: 1281px) {
  .menimage img{
    width: 290px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 210px;
  }
  .menimage2 img{
    width: 250px;
    margin: 0px 0px;
  }
  .menimage3 img{
    width: 180px;
  }
  .menimage4 img{
    width: 220px;
  }
.text-banner-container  h4{
    font-size: 1.8em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 1025px) {
  .menimage img{
    width: 230px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 165px;
  }
  .menimage2 img{
    width: 200px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 913px) {
  .menimage img{
    width: 200px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 150px;
  }
  .menimage2 img{
    width: 180px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 821px) {
  .menimage img{
    width: 179px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 133px;
  }
  .menimage2 img{
    width: 160px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 769px) {
  .menimage img{
    width: 177px;
    margin: 5px 5px;
  }
  .menimage1 img{
    width: 123px;
  }
  .menimage2 img{
    width: 150px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.7em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 541px) {
  .menimage img{
    width: 109px;
    margin: 5px 13px;
  }
  .menimage1 img{
    width: 86px;
  }
  .menimage2 img{
    width: 104px;
    margin: 0px 0px;
  }
  .menimage3 img{
    width: 150px;
    margin: 0px 5px;
  }
  .menimage4 img{
    width: 150px;
    margin: 0px 5px;
  }
.text-banner-container  h4{
    font-size: 1.5em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 415px) {
  .menimage img{
    width: 100px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 130px;
  }
  .menimage2 img{
    width: 80px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}


@media only screen and (max-width: 394px) {
  .menimage img{
    width: 95px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 130px;
  }
  .menimage2 img{
    width: 75px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 376px) {
  .menimage img{
    width: 90px;
    margin: 0px 0px;
  }
  .menimage1 img{
    width: 120px;
  }
  .menimage2 img{
    width: 70px;
    margin: 0px 0px;
  }
.text-banner-container  h4{
    font-size: 1.1em;
    margin: 15px 0px;
  }
}



