/* ---------------general css----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(225, 224, 224);
}
.header {
  background-color: white;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 20;
  font-weight: 500;
}
.header_menu {
  font-size: 2vh;
  margin-top: 0.5%;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}
.header_menu a {
  text-decoration: none;
  color: black;
}
.new_pink {
  color: #ff3f6c;
  margin-left: -3%;
  font-size: small;
}
#lensIcon {
  color: rgb(156, 154, 154);
}
.header_input_div {
  background-color: rgb(244, 242, 242);
  width: 22%;
  margin-left: 5%;
  margin-right: 2%;
  padding: 0.5%;
  height: 25%;
}
.header_input {
  border: none;
  width: 92%;
  background-color: rgb(244, 242, 242);
}
.header_icon_div {
  cursor: pointer;
  font-size: small;
}
.header_icon_div i {
  margin-left: 25%;
  color: black;
}
.logo {
  cursor: pointer;
  width: 3.8%;
  margin-right: 2%;
}

/* ================================Header Sub menu================ */

.header_submenu {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(133, 132, 132);
  cursor: pointer;
  display: flex;
  margin-top: 4.5%;
  width: 50%;
  position: absolute;
  left: 12%;
  top: 3%;
}
.header_submenu p b {
  color: #ff3f6c;
}
.submenu_column {
  margin: 5%;
}
.submenu_column p {
  margin-top: 10%;
}
.men {
  display: none;
}
.women {
  display: none;
}
.kids {
  display: none;
}
.home {
  display: none;
}
.beauty {
  display: none;
}
.studio {
  display: none;
}
.profile {
  display: none;
}
.header_profile_submenu_div {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(99, 98, 98);
  cursor: pointer;
  position: absolute;
  margin-top: 1%;
  margin-left: -8.7%;
  padding: 1%;
  font-size: medium;
}
.header_profile_submenu_hr {
  margin-top: 7%;
}
.header_profile_submenu_div p b {
  color: black;
}
.login_div {
  border: 1px solid rgb(167, 164, 164);
  color: #ff3f6c;
  display: inline;
  padding: 8px;
}
.login_div a {
  color: #ff3f6c;
  text-decoration: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/* ========================For Tab and Mobile view============== */

p {
  margin: 0%;
  padding: 0%;
}
.burger_div p {
  width: 50%;
  margin-top: -9%;
}
.menu li {
  list-style: none;
  padding: 5%;
  border-bottom: 1px solid rgb(145, 133, 133);
}
.menu li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: large;
  font-weight: bold;
}
.menu li i {
  float: right;
  cursor: pointer;
}
.sidebarMenu {
  height: 100%;
  position: fixed;
  margin-top: 1%;
  left: 0;
  width: 50%;
  background-color: rgb(250, 224, 224);
  display: none;
}

.header_profile_submenu_div p {
  margin-bottom: 10px;
}

/* container */

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------css of images----------------- */
.logoimages {
  display: none;
}
.logoimages img {
  width: 8%;
  margin: 2%;
}

.images1 img,
.images3 img,
.images4 img,
.images6 img,
.images7 img {
  width: 160px;
}

.images2 img {
  width: 180px;
}

.images5 img {
  width: 320px;
}

h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.5em;
  margin: 5px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  padding: 5%;
}
.slider {
  margin: 5%;
  display: none;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1em;
  }
  .logoimages {
    display: inherit;
  }
  footer{
    width: 90%;
  }

  .images5 img {
    width: 100%;
  }
  .slider {
    display: inherit;
  }
}

/* footer */

footer {
  background-color: #fafbfc;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-container {
  /* display: flex; */
  width: 72%;
  /* padding: 50px 0px 0px 0px; */
  margin-left: 10%;
}
.container-1 {
  display: flex;
  width: 100%;
  margin-left: -64px;
  margin-bottom: 20px;
}
.festive-off {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto auto auto auto;  */
  /* width:200px;*/
}
.festive-off img {
  width: 400px;
  margin: auto;
}

footer .shop-container {
  display: none;
  margin-left: 0px;
}
.shop-container .shop-container-tab {
  display: flex;
  margin: 56px 0px 0px -64px;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer .container-1 .sub-container {
  margin: 0px 15px 0px 12px;
}
footer .sub-container .btn {
  margin: 10px 0px 0px 0px;
  font-size: 0.8em;
}
.container .container-1 .sub-container .online-shopping-tab,
.useful-link-tab,
.customer-policies-tab,
.myntra-app-tab,
.logos,
.shop-container {
  margin-top: 20px;
}
footer .container-1 .sub-container .heading {
  margin: 30px 0px 30px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-1 .sub-container .myntra-app .myntra-app-tab {
  display: flex;
  width: 150px;
  height: 50px;
  object-fit: cover;
}
footer .sub-container .keep-in-touch-res {
  display: none;
}
.sub-container .myntra-app .myntra-app-tab img {
  height: 100%;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.sub-container .keep-in-touch .logos {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.sub-container .keep-in-touch .logos svg {
  height: 20px;
  width: 20px;
}
.sub-container .original {
  display: flex;
}
footer .container-1 .original-return {
  margin: 30px 0px 0px 150px;
}
.sub-container .original img {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;
}
.sub-container .original .text span {
  color: black;
  font-weight: bold;
}
.container-2 {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container-2 .heading {
  margin: 20px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-2 .item-container {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.container-2 .item-container a {
  font-size: 0.8em;
}
.container-2 .item-container .item {
  margin: 0px 10px 0px 0px;
}
.container-2 .contact-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-2 .contact-div .contact a {
  color: blue;
}
.container-2 .contact-div .all-right {
  color: gray;
}
.container-3 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.container-3 .heading {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}
.container-3 .cont-1,
.cont-2 {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 16px;
}
.container-3 p {
  margin-top: 20px;
}
.container-3 .cont-2 p {
  margin-top: 90px;
}
.container-4 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}
.container-4 .heading {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}
.container-4 .text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: gray;
  font-size: 0.8em;
  margin-bottom: 25px;
}
.container-5 .text {
  font-size: 0.8em;
  color: gray;
  margin-top: 20px;
}
.container-5 .cont-2 {
  margin-left: 50px;
  margin-top: 20px;
}
.container-5 .cont-2 span {
  color: black;
  font-size: bold;
  font-size: 1.2em;
}
.container-5 .cont-2 .heading {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1em;
  }
  .logoimages {
    display: inherit;
  }

  .images5 img {
    width: 100%;
  }
  .slider {
    display: inherit;
  }
}

/* =======================================tanya new men's page====================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.text-banner-container {
  width: 90%;

  /* border: 5px solid red; */
}

.Menbox {
  margin: auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menimage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}
.menimage img {
  width: 150px;
}
.menimage2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
}
.menimage2 img {
  width: 230px;
}
.menimage3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.menimage3 img {
  width: 190px;
}
.menimage1 img {
  width: 200px;
}
.menimage4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menimage4 img {
  width: 240px;
}

h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.5em;
  margin: 5px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  padding: 5%;
  text-align: center;
}

.menimage {
  perspective: 250px;
}

.menimage img {
  transition: 150ms;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.menimage img:hover {
  transform: translate3d(5px, 0px, 10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.menimage4 {
  perspective: 250px;
}

.menimage4 img {
  transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.menimage4 img:hover {
  transform: translate3d(5px, 0px, 10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.menimage2 {
  perspective: 250px;
}

.menimage2 img {
  transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.menimage2 img:hover {
  transform: translate3d(5px, 0px, 10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1em;
  }
}
