* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
/* ===============================vineet Header css code start================= */
body {
  background-color: rgb(225, 224, 224);
}
.header {
  background-color: white;
  /* height: 2em; */
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 20;
}
.header_menu {
  font-size: 1em;
  margin-top: 0.5%;
  cursor: pointer;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.header_menu a {
  text-decoration: none;
  color: black;
}
.new_pink {
  color: #ff3f6c;
  margin-left: -2%;
  font-size: small;
}
#lensIcon {
  color: rgb(156, 154, 154);
}
.header_input_div {
  /* border: 1px solid; */
  background-color: rgb(244, 242, 242);
  width: 22%;
  margin-left: 5%;
  margin-right: 2%;
  padding: 0.5%;
  height: 25%;
}
.header_input {
  border: none;
  width: 92%;
  /* height: 100%; */
  background-color: rgb(244, 242, 242);
}
.header_icon_div {
  cursor: pointer;
  font-size: small;
}
.header_icon_div i {
  margin-left: 25%;
}
.logo {
  cursor: pointer;
  width: 4%;
}

/* ================================Header Sub menu================ */

.header_submenu {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(133, 132, 132);
  cursor: pointer;
  display: flex;
  margin-top: 4.5%;
  width: 50%;
  position: absolute;
  left: 12%;
  top: 3%;
}
.header_submenu p b {
  color: #ff3f6c;
}
.submenu_column {
  margin: 5%;
}
.submenu_column p {
  margin-top: 10%;
}
.men {
  display: none;
}
.women {
  display: none;
}
.kids {
  display: none;
}
.home {
  display: none;
}
.beauty {
  display: none;
}
.studio {
  display: none;
}
.profile {
  display: none;
}
.header_profile_submenu_div {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(99, 98, 98);
  cursor: pointer;
  position: absolute;
  margin-top: 1%;
  margin-left: -7%;
  padding: 1%;
  font-size: medium;
}
.header_profile_submenu_hr {
  margin-top: 7%;
}
.header_profile_submenu_div p b {
  color: black;
}
.header_profile_submenu_div p {
  padding: 1%;
}
.login_div {
  border: 1px solid rgb(167, 164, 164);
  color: #ff3f6c;
  display: inline;
  padding: 3%;
}
.login_div a {
  color: #ff3f6c;
  text-decoration: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/* ========================For Tab and Mobile view============== */

p {
  margin: 0%;
  padding: 0%;
}
.burger_div p {
  width: 50%;
  margin-top: -9%;
  /* padding: 0%; */
}
.menu li {
  list-style: none;
  padding: 5%;
  border-bottom: 1px solid rgb(145, 133, 133);
  /* text-align: center; */
}
.menu li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: large;
  font-weight: bold;
}
.menu li i {
  float: right;
  cursor: pointer;
}
.sidebarMenu {
  height: 100%;
  position: fixed;
  margin-top: 3%;
  left: 0;
  width: 50%;
  background-color: rgb(165, 165, 165);
  display: none;
}

.header_profile_submenu_div p {
  margin-bottom: 10px;
}
.counter {
  /* border: 1px solid; */
  background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #9d9ea2;
  padding: 1%;
}
.timer {
  color: #ff3f6c;
}

/* ==============================Vineet's Responsive Code start===================== */

@media only screen and (max-width: 1200px) {
  .header_menu,
  .logo,
  .header_input_div,
  .header_icon_text,
  .new_pink {
    display: none;
  }
  .burger_div {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .burger_div {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */

/* =========================vineet's header code end======================= */

.main-products-container {
  display: flex;
}

/* filter */

main .filter {
  width: 20%;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  bottom: 0px;
}
.filter .filter-clear {
  color: black;
  margin: 0px 0px 10px 40px;
}
.filter .filter-clear #clear {
  color: #ff3f6c;
  font-size: 0.8em;
  float: right;
  margin-right: 20px;
}
main .filter .main-container {
  width: 100%;
  border: 1px solid #f5f5f6;
}
main .filter-container {
  width: 80%;
  margin-left: 10%;
}
main .filter-container .box {
  color: black;
  padding: 5px;
  font-weight: 100;
  font-size: 12px;
}
main .box input {
  margin-right: 10px;
  color: black;
}

.filter .filter-container {
  margin-top: 30px;
  color: #282c3f;
  font-weight: 100;
  margin-bottom: 30px;
  min-width: 282px;
}
.filter .gender .box {
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.filter .filter-container h3 {
  margin: 10px 0px 10px 10px;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}
.filter .filter-container .box input {
  margin-right: 10px;
}
.filter .filter-container i {
  padding: 10px;
  border-radius: 50%;
  background-color: #f5f5f6;
}

/* .products */

main .products {
  width: calc(100% 282px);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
main .product {
  height: auto;
  width: 210px;
  margin: 15px 15px 15px 15px;
  box-shadow: 0px 0px 5px #9b9ba7;
  padding: 5px;
}
.products .product img {
  height: 249px;
  width: 100%;
  margin-bottom: 10px;
}
.products .product .item-name {
  text-align: left;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  margin: 5px 0px;
}

.products .product .description {
  color: gray;
  height: 20px;
  overflow: hidden;
  margin: 5px 0px;
}
main .product .price {
  padding-bottom: 0px;
}
.product #discount-price {
  color: rgb(225, 215, 215);
  margin: 0px 0px 0px 5px;
  text-decoration: line-through;
  font-size: 0.9em;
}
.product .add-to-wishlist-btn {
  width: 95%;
  margin: 5px auto;
  display: none;
}
.product .add-to-wishlist-btn button {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.product #discount-percentage {
  color: #ff3f6c;
  text-decoration: none;
  margin-left: 5px;
}

footer {
  background-color: #fafbfc;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-container {
  width: 72%;
  margin-left: 10%;
}
.container-1 {
  display: flex;
  width: 100%;
  margin-left: -64px;
  margin-bottom: 20px;
}
footer .shop-container {
  display: none;
  margin-left: 0px;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer .container-1 .sub-container {
  margin: 0px 15px 0px 12px;
}
footer .sub-container .btn {
  margin: 10px 0px 0px 0px;
  font-size: 0.8em;
}
.container .container-1 .sub-container .online-shopping-tab,
.useful-link-tab,
.customer-policies-tab,
.myntra-app-tab,
.logos,
.shop-container {
  margin-top: 20px;
}
footer .container-1 .sub-container .heading {
  margin: 10px 0px 10px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-1 .sub-container .myntra-app .myntra-app-tab {
  display: flex;
  width: 150px;
  height: 50px;
  object-fit: cover;
}
footer .sub-container .keep-in-touch-res {
  display: none;
}

.sub-container .myntra-app .myntra-app-tab img {
  height: 100%;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.sub-container .keep-in-touch .logos {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.sub-container .keep-in-touch .logos svg {
  height: 20px;
  width: 20px;
}
.sub-container .original {
  display: flex;
}
footer .container-1 .original-return {
  margin: 30px 0px 0px 150px;
}
.sub-container .original img {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;
}
.sub-container .original .text span {
  color: black;
  font-weight: bold;
}
.container-2 {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container-2 .heading {
  margin: 20px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-2 .item-container {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.container-2 .item-container a {
  font-size: 0.8em;
}
.container-2 .item-container .item {
  margin: 0px 10px 0px 0px;
}
.container-2 .contact-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-2 .contact-div .contact a {
  color: blue;
}
.container-2 .contact-div .all-right {
  color: gray;
}
.container-3 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.container-3 .heading {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}
.container-3 .cont-1,
.cont-2 {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 16px;
}
.container-3 p {
  margin-top: 20px;
}
.container-3 .cont-2 p {
  margin-top: 90px;
}
.container-4 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}
.container-4 .heading {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}
.container-4 .text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: gray;
  font-size: 0.8em;
  margin-bottom: 25px;
}
.container-5 .text {
  font-size: 0.8em;
  color: gray;
  margin-top: 20px;
}
.container-5 .cont-2 {
  margin-left: 50px;
  margin-top: 20px;
}
.container-5 .cont-2 span {
  color: black;
  font-size: bold;
  font-size: 1.2em;
}
.container-5 .cont-2 .heading {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

/* Responsive */

@media only screen and (max-width: 1483px) {
  main .products {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1150px) {
  .main-products-container .filter {
    width: 30%;
  }
}

@media only screen and (max-width: 415px) {
  #phone_view_icon {
    margin-top: -8%;
  }
  .main-products-container .filter {
    display: none;
  }
  .main-products-container {
    width: 100%;
    justify-content: center;
  }
  .main-products-container .product {
    margin-top: 20px;
  }
  footer .container-5 {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */

@media only screen and (max-width: 600px) {
  footer .container-3 {
    flex-direction: column;
    margin-left: 8px;
  }
  footer .container-3 .cont-2 {
    margin-top: -96px;
  }
  footer .container-2 .contact-div {
    flex-direction: column;
    padding-bottom: 0px;
    margin-left: 8px;
  }
  footer .container-3 .cont-1 .heading {
    margin-left: 0px;
  }
  footer .container-4 .text {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 821px) {
  .burger_div {
    height: 150%;
  }
  footer .container .sub-container .online-shopping-tab,
  .useful-link-tab,
  .customer-policies-tab,
  .myntra-app-tab,
  .logos,
  .shop-container {
    flex-wrap: wrap;
  }
  footer .sub-container .btn {
    margin: 5px 10px 5px 0px;
  }
  .main-products-container .products {
    width: 60%;
  }
  .main-products-container .filter {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .header_text {
    margin-top: -4%;
  }
  footer .container {
    width: 95%;
    margin: auto;
  }
  footer .original-return,
  .mobile-app {
    display: none;
  }
  footer .container-1 {
    flex-direction: column;
  }
  footer .sub-container .keep-in-touch-res {
    display: block;
  }
  footer .online-shopping-tab {
    display: flex;
  }
  footer .shop-container {
    display: flex;
  }
  footer .shop-container .item {
    margin: 0px 10px 0px 0px;
  }
  footer .sub-container .keep-in-touch-res {
    margin-left: 65px;
  }
  footer .sub-container .shop-container-tab {
    margin-left: 65px;
    width: 100%;
    display: flex;
  }

  footer .sub-container .useful-link-tab {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 65px;
  }
  footer .sub-container .customer-policies-tab {
    width: 100%;
    margin-left: 65px;
  }
  footer .online-shopping-tab {
    margin-left: 65px;
    display: flex;
    width: 100%;
  }
  footer .sub-container .btn {
    margin: 0px 10px 0px 0px;
  }
  footer .container-1 .sub-container .heading {
    margin: 30px 0px 30px 65px;
  }
  footer .container-2 .item-container {
    width: 100%;
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container-2 .heading {
    margin: 20px 0px 20px 10px;
  }
  .main-products-container .filter {
    width: 40%;
  }
  footer .footer-container .keep-in-touch-res .heading {
    margin-left: 0px;
  }
}
