* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
/* ===============================vineet Header css code start================= */
body {
  background-color: rgb(225, 224, 224);
}


/* ========================Vineet Responsive code end ============== */

/* =========================vineet's header code end======================= */

.main-products-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

.main-products-container .path-div {
  height: 38.4px;
  display: flex;
  align-items: flex-end;
  margin-left: 25px;
}
.main-products-container .path-div span {
  font-size: 14px;
  line-height: 1;
  margin-right: 5px;
  text-transform: capitalize;
  color: #282c3f;
}
.main-products-container .path-div .myntra-fashion-store {
  font-weight: 500;
}

.main-products-container .total-item {
  height: 33.4px;
  display: flex;
  align-items: center;
  margin: 10px 0px 5px 25px;
}
.main-products-container .total-item h1 {
  font-size: 16px;
  color: #282c3f;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}
.main-products-container .total-item .products-count {
  color: #878b94;
}

/* filter */

.filter-product-container {
  display: flex;
  flex-direction: row;
}
main .filter {
  width: 16.5%;
  position: sticky;
  bottom: 0px;
  padding-top: 23px;
}
main .filter .main-container {
  padding: 20px 0px 15px 25px;
  border-bottom: 1px solid #e9e9ed;
  border-right: 1px solid #e9e9ed;
}
main .main-container .filter-header {
  position: relative;
}

main .filter #filter {
  font-weight: 700;
}
main .filter .filter-header #clear {
  position: absolute;
  right: 10px;
  color: #ff3f6c;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}
.filter .filter-clear {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 10px;
}
main .filter .gender-container div {
  color: black;
  font-weight: bold;
}
main .main-container .box {
  color: #282c3f;
  margin-bottom: 7px;
  width: 95%;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  min-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
}
main .main-container .box input {
  margin: 0px 16px 0px 0px;
}
main .main-container .box span {
  color: #94969f;
  font-size: 10px;
  margin-left: 4px;
  font-weight: 400;
}
main .main-container h3 {
  font-size: 14px;
  color: #282c3f;
  margin-bottom: 18px;
  font-weight: 500;
  position: relative;
}
main .main-container h3 i {
  border-radius: 50%;
  background-color: #f5f5f6;
  font-size: 0.9em;
  position: absolute;
  right: 14px;
}

.main-products-container .product-container {
  width: 83.5%;
  background-color: white;
}
.main-products-container .product-container .main-upper-div {
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-products-container .product-container .main-upper-div i {
  color: #7c7d82;
}
.main-products-container .product-container .products-upper-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}
.main-products-container .product-container .products-upper-div .div-upper {
  margin: 0px 0px 0px 4px;
  padding: 3px 20px;
  font-size: 14px;
  font-weight: 100;
  color: #282c3f;
  cursor: pointer;
  border-radius: 15px;
}
.main-products-container
  .product-container
  .products-upper-div
  .div-upper:hover {
  background-color: #ced1d751;
}
.main-upper-div .upper-right-div {
  margin-right: 30px;
  border: 1px solid #d4d5d9;
  border-radius: 2px;
  padding: 0px 15px;
  background-color: #ffffff;
}
.main-upper-div .upper-right-div .recommended {
  color: #282c3f;
  font-weight: 500;
  font-size: 14px;
}
.main-upper-div .upper-right-div .parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
  height: 37px;
  cursor: pointer;
}
.main-products-container .product-container .upper-left-div {
  display: flex;
}
.main-products-container
  .product-container
  .main-upper-div
  .products-lower-div {
  display: flex;
}
.product-container .main-upper-div .products-lower-div .div-lower {
  padding: 3px 20px;
  border: 1px solid #f5f5f6;
  border-radius: 20px;
  margin-left: 8px;
  font-size: 12px;
  color: #3e4152;
  cursor: default;
}
.product-container .main-upper-div .products-lower-div .div-lower:hover {
  border: 1px solid #bdbdc2;
}

/* .products */

main .products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 24px 20px 0px 15px;
}
main .product {
  height: 360px;
  width: 210px;
  text-align: left;
  position: relative;
  margin: 0px 18px 20px 18px;
}
.products .product img {
  height: 260px;
  width: 100%;
  margin-bottom: 10px;
}
.products .product .info-container {
  background-color: white;
  position: relative;
  margin-left: 15px;
}
.products .product .item-name {
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #282c3f;
  margin-bottom: 6px;
  font-weight: bold;
  overflow: hidden;
}
.products .product .description {
  color: #535766;
  font-size: 14px;
  margin: 0px 0px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 0px;
}
main .product .price {
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
  font-weight: 500;
  margin: 10px 0px 6px 0px;
}
.product #discount-price {
  color: #7e818c;
  margin: 0px 0px 0px 5px;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 12px;
}
.product .add-to-wishlist-btn {
  width: 95%;
  margin: 5px auto;
  display: none;
}
.product .add-to-wishlist-btn button {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.product #discount-percentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  margin-left: 5px;
}

footer {
  background-color: #fafbfc;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer-container {
  width: 72%;
  margin-left: 10%;
}
.container-1 {
  display: flex;
  width: 100%;
  margin-left: -64px;
  margin-bottom: 20px;
}
footer .shop-container {
  display: none;
  margin-left: 0px;
}
footer a {
  text-decoration: none;
  color: gray;
}
footer .container-1 .sub-container {
  margin: 0px 15px 0px 12px;
}
footer .sub-container .btn {
  margin: 10px 0px 0px 0px;
  font-size: 0.8em;
}
.container .container-1 .sub-container .online-shopping-tab,
.useful-link-tab,
.customer-policies-tab,
.myntra-app-tab,
.logos,
.shop-container {
  margin-top: 20px;
}
footer .container-1 .sub-container .heading {
  margin: 10px 0px 10px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-1 .sub-container .myntra-app .myntra-app-tab {
  display: flex;
  width: 150px;
  height: 50px;
  object-fit: cover;
}
footer .sub-container .keep-in-touch-res {
  display: none;
}

.sub-container .myntra-app .myntra-app-tab img {
  height: 100%;
  width: 100%;
  margin: 0px 10px 0px 0px;
}
.sub-container .keep-in-touch .logos {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.sub-container .keep-in-touch .logos svg {
  height: 20px;
  width: 20px;
}
.sub-container .original {
  display: flex;
}
footer .container-1 .original-return {
  margin: 30px 0px 0px 150px;
}
.sub-container .original img {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;
}
.sub-container .original .text span {
  color: black;
  font-weight: bold;
}
.container-2 {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.container-2 .heading {
  margin: 20px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
}
.container-2 .item-container {
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.container-2 .item-container a {
  font-size: 0.8em;
}
.container-2 .item-container .item {
  margin: 0px 10px 0px 0px;
}
.container-2 .contact-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-2 .contact-div .contact a {
  color: blue;
}
.container-2 .contact-div .all-right {
  color: gray;
}
.container-3 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.container-3 .heading {
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}
.container-3 .cont-1,
.cont-2 {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 16px;
}
.container-3 p {
  margin-top: 20px;
}
.container-3 .cont-2 p {
  margin-top: 90px;
}
.container-4 {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}
.container-4 .heading {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
}
.container-4 .text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: gray;
  font-size: 0.8em;
  margin-bottom: 25px;
}
.container-5 .text {
  font-size: 0.8em;
  color: gray;
  margin-top: 20px;
}
.container-5 .cont-2 {
  margin-left: 50px;
  margin-top: 20px;
}
.container-5 .cont-2 span {
  color: black;
  font-size: bold;
  font-size: 1.2em;
}
.container-5 .cont-2 .heading {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

/* Responsive */

@media only screen and (max-width: 1483px) {
  main .products {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1150px) {
  .main-products-container .filter {
    width: 30%;
  }
}

@media only screen and (max-width: 415px) {
  #phone_view_icon {
    margin-top: -8%;
  }
  .main-products-container .filter {
    display: none;
  }
  .main-products-container {
    width: 100%;
    justify-content: center;
  }
  .main-products-container .product {
    margin-top: 20px;
  }
  footer .container-5 {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */

@media only screen and (max-width: 600px) {
  footer .container-3 {
    flex-direction: column;
    margin-left: 8px;
  }
  footer .container-3 .cont-2 {
    margin-top: -96px;
  }
  footer .container-2 .contact-div {
    flex-direction: column;
    padding-bottom: 0px;
    margin-left: 8px;
  }
  footer .container-3 .cont-1 .heading {
    margin-left: 0px;
  }
  footer .container-4 .text {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 821px) {
  .burger_div {
    height: 150%;
  }
  footer .container .sub-container .online-shopping-tab,
  .useful-link-tab,
  .customer-policies-tab,
  .myntra-app-tab,
  .logos,
  .shop-container {
    flex-wrap: wrap;
  }
  footer .sub-container .btn {
    margin: 5px 10px 5px 0px;
  }
  .main-products-container .products {
    width: 60%;
  }
  .main-products-container .filter {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .header_text {
    margin-top: -4%;
  }
  footer .container {
    width: 95%;
    margin: auto;
  }
  footer .original-return,
  .mobile-app {
    display: none;
  }
  footer .container-1 {
    flex-direction: column;
  }
  footer .sub-container .keep-in-touch-res {
    display: block;
  }
  footer .online-shopping-tab {
    display: flex;
  }
  footer .shop-container {
    display: flex;
  }
  footer .shop-container .item {
    margin: 0px 10px 0px 0px;
  }
  footer .sub-container .keep-in-touch-res {
    margin-left: 65px;
  }
  footer .sub-container .shop-container-tab {
    margin-left: 65px;
    width: 100%;
    display: flex;
  }

  footer .sub-container .useful-link-tab {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 65px;
  }
  footer .sub-container .customer-policies-tab {
    width: 100%;
    margin-left: 65px;
  }
  footer .online-shopping-tab {
    margin-left: 65px;
    display: flex;
    width: 100%;
  }
  footer .sub-container .btn {
    margin: 0px 10px 0px 0px;
  }
  footer .container-1 .sub-container .heading {
    margin: 30px 0px 30px 65px;
  }
  footer .container-2 .item-container {
    width: 100%;
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container-2 .heading {
    margin: 20px 0px 20px 10px;
  }
  .main-products-container .filter {
    width: 40%;
  }
  footer .footer-container .keep-in-touch-res .heading {
    margin-left: 0px;
  }
}
