* {
  margin: 0%;
  padding: 0%;
}
.headbox {
  border: 1px solid rgb(219, 216, 216);
  width: 55%;
  margin-left: 9%;
  margin-top: 5%;
}
.imgtext {
  margin-left: 2%;
  display: flex;
}
.imgtext span {
  margin: 1%;
}
.headbox p,
h4 {
  margin-left: 4%;
  margin-top: 1.5%;
}
.headbox h4 {
  color: rgb(255, 33, 96);
  margin-bottom: 1.6%;
  padding-left: 0.3%;
}
#less {
  font-size: small;
}
.blank {
  margin-left: 5.8%;
  margin-bottom: 1.5%;
}

.buttons {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.buttons button {
  padding: 9% 9% 9% 7%;
  font-weight: bold;
  background-color: rgb(245, 243, 243);
  border: 1px solid rgb(221, 220, 220);
}
#firstbutton img {
  width: 10%;
  margin-right: 1%;
}
.buttons img {
  margin-right: 2%;
}
#button4 img {
  margin-left: -9%;
}
#button5 img {
  margin-left: -15%;
}
#button6 img {
  margin-left: -10%;
}
#textchange {
  width: 76%;
  padding: 2%;
  background-color: rgb(245, 243, 243);
  border: 1px solid rgb(221, 220, 220);
}
.button-container {
  display: flex;
}
.midbox {
  margin-left: 8%;
}
.midbox h3 {
  margin-bottom: 5%;
}
#verifyandpay {
  background-color: rgb(255, 33, 96);
  color: white;
  font-weight: bolder;
  margin-top: 5%;
  padding: 3%;
  width: 76%;
}
.half-container {
  display: flex;
}
#lasttext {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 243, 243);
  border: 1px solid rgb(221, 220, 220);
  margin-left: 9%;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#lasttext h4 {
  color: rgb(255, 33, 96);
  margin-right: 5.5%;
}
#righttext {
  display: flex;
  width: 50%;
  margin-top: 1%;
}

#righttext i {
  margin-left: 13%;
  margin-right: 3%;
  font-size: larger;
}

.right {
  margin-left: 3%;
  width: 30%;
  margin-right: 15%;
  height: 30%;
  margin-top: -12%;
}
.right table {
  width: 240px;
}
#side,
#side1,
#colorc {
  padding-left: 20%;
  padding-bottom: 3%;
}
#down {
  padding-bottom: 10%;
}

#borderb,
#side1 {
  /* border-bottom: 1px solid rgb(177, 174, 174); */
  padding-bottom: 5%;
}

.footerr {
  width: 90%;
  margin-top: 2%;
  display: grid;
  column-gap: 0ch;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  margin-left: 8%;
  margin-right: 20%;
  align-items: center;
}

.footerr h6 {
  font-size: 80%;
  padding-left: 90%;
  display: flex;
  font-weight: bolder;
}
#ft {
  margin-right: 35%;
}
.header {
  border: 1px solid var(--lightgray);
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
}
.logo {
  cursor: pointer;
  width: 4%;
}
.header_center {
  margin-top: 2.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  color: var(--gray);
  width: 30%;
}
.header_right {
  display: flex;
  margin-top: 2%;
  margin-right: 4%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}
.header_right img {
  width: 20%;
}
.header_right p {
  margin: 1%;
  margin-top: 4%;
}
.right_sidebar {
  border: 1px solid var(--lightgray);
  width: 20%;
  float: right;
  margin-right: 15%;
  margin-left: 1%;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: var(--gray);
}
.right_sidebar div {
  padding: 3.5%;
  font-size: small;
}
.support {
  font-size: x-small;
}
.display-in-phone {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header_center {
    display: none;
  }
}

@media only screen and (max-width: 1328px) and (min-width: 588px) {
  .footerr {
    display: none;
  }

  .details input {
    padding: 2.3%;
  }
  .headbox {
    width: 80%;
  }
  #lasttext {
    width: 80%;
  }
  .half-container {
    display: flex;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .right {
    margin-top: 3%;
    margin-left: 25%;
  }

  .midbox h3 {
    margin-top: 2%;
  }
  .buttons {
    width: 70%;
  }
  .buttons button {
    font-size: 20px;
  }
  #textchange {
    font-size: 20px;
    width: 79%;
  }
  .buttons img {
    margin-right: 2%;
  }
  #button4 img {
    margin-left: -0%;
  }
  #button5 img {
    margin-left: -0%;
  }
  #button6 img {
    margin-left: -0%;
  }
  .midbox {
    margin-left: 15%;
  }
  #lasttext {
    margin-bottom: 3%;
  }
  .blank h4 {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #verifyandpay {
    margin-left: 1.5%;
  }
  .logo {
    width: 9%;
  }
}

/* //svg viewbox */
/* //for phone */
@media only screen and (max-width: 588px) {
  .logo {
    margin-top: -15px;
    width: 14%;
  }
  .header_center {
    display: none;
  }

  .blank h4 {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .midbox {
    margin-left: 15%;
    display: none;
  }
  .display-in-phone {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(212, 212, 212);
    font-size: 20px;
    padding: 10px;
    box-shadow: 4px 3px 30px 1px #969696;
  }
  .display-in-phone-left {
    margin-left: 5%;
  }
  .display-in-phone-right {
    margin: auto;
    width: 40%;
  }
  .display-in-phone-right button {
    color: white;
    background-color: rgb(255, 33, 96);
    /* border: none; */
    width: 120%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 10px;
  }
  .headbox {
    width: 85%;
  }
  .footerr {
    display: none;
  }
  .right {
    margin-top: 3%;
    margin-left: 16%;
  }

  /* .all-container-box{
        width: 80%;
        margin-left: 1.5%;
    } */
  .buttons {
    width: 80%;
  }
  #button5 img {
    margin-left: 1%;
  }
  #lasttext {
    width: 80%;
  }
  .half-container {
    display: flex;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .midbox h3 {
    margin-top: 2%;
  }
  .buttons {
    width: 70%;
  }
  .buttons img {
    margin-right: 2%;
  }
  #button4 img {
    margin-left: -0%;
  }
  #button5 img {
    margin-left: -0%;
  }
  #button6 img {
    margin-left: -0%;
  }
  #lasttext {
    margin-bottom: 3%;
  }
}
