* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================vineet Header css code start================= */
body {
  background-color: rgb(225, 224, 224);
}
.header {
  background-color: white;
  /* height: 2em; */
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 20;
}
.header_menu {
  font-size: 1em;
  margin-top: 0.5%;
  cursor: pointer;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
.header_menu a {
  text-decoration: none;
  color: black;
}
.new_pink {
  color: #ff3f6c;
  margin-left: -3%;
  font-size: small;
}
#lensIcon {
  color: rgb(156, 154, 154);
  margin-left: 1%;
}
.header_input_div {
  /* border: 1px solid; */
  background-color: rgb(244, 242, 242);
  width: 23%;
  margin-left: 5%;
  margin-right: 2%;
  padding: 0.5%;
  height: 25%;
}
.header_input {
  border: none;
  width: 92%;
  padding-left: 6%;
  /* height: 100%; */
  background-color: rgb(244, 242, 242);
}
.header_icon_div {
  cursor: pointer;
  font-size: small;
}
.header_icon_div i {
  margin-left: 25%;
  color: rgb(0, 0, 0);
}
.logo {
  cursor: pointer;
  width: 3.8%;
  margin-right: 2%;
}

/* ================================Header Sub menu================ */

.header_submenu {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(133, 132, 132);
  cursor: pointer;
  display: flex;
  margin-top: 4.5%;
  width: 50%;
  position: absolute;
  left: 12%;
  top: 3%;
}
.header_submenu p b {
  color: #ff3f6c;
}
.submenu_column {
  margin: 5%;
}
.submenu_column p {
  margin-top: 10%;
}
.men {
  display: none;
}
.women {
  display: none;
}
.kids {
  display: none;
}
.home {
  display: none;
}
.beauty {
  display: none;
}
.studio {
  display: none;
}
.profile {
  display: none;
}
.header_profile_submenu_div {
  border: 1px solid lightgray;
  background-color: white;
  color: rgb(99, 98, 98);
  cursor: pointer;
  position: absolute;
  margin-top: 1%;
  margin-left: -8.7%;
  padding: 1%;
  font-size: medium;
}
.header_profile_submenu_div p b {
  color: black;
}
.login_div {
  border: 1px solid rgb(167, 164, 164);
  color: #ff3f6c;
  display: inline;
  padding: 8px;
}
.login_div a {
  color: #ff3f6c;
  text-decoration: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/* ========================For Tab and Mobile view============== */

p {
  margin: 0%;
  padding: 0%;
}
.burger_div p {
  width: 50%;
  /* font-weight: bold; */
}
.menu li {
  list-style: none;
  padding: 5%;
  border-bottom: 1px solid rgb(145, 133, 133);
  /* text-align: center; */
}
.menu li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: large;
  font-weight: bold;
}
.menu li i {
  float: right;
  cursor: pointer;
}
.sidebarMenu {
  height: 100%;
  position: fixed;
  margin-top: 1%;
  left: 0;
  width: 50%;
  background-color: rgb(250, 224, 224);
  display: none;
}

.header_profile_submenu_div p {
  margin-bottom: 10px;
}
.counter {
  /* border: 1px solid; */
  background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #9d9ea2;
  padding: 1%;
}
.timer {
  color: #ff3f6c;
}
/* =========================vineet's header code end======================= */

/* ==============================Vineet's Responsive Code start===================== */

@media only screen and (max-width: 1200px) {
  .header_menu,
  .logo,
  .header_input_div,
  .header_icon_text,
  .new_pink {
    display: none;
  }
  .burger_div {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .burger_div {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */
