/* ==============================Vineet's Responsive Code start===================== */

@media only screen and (max-width: 1200px) {
  .header_menu,
  .logo,
  .header_input_div,
  .header_icon_text,
  .new_pink {
    display: none;
  }
  .burger_div {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .burger_div {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */

@media only screen and (max-width: 1000px) {
  footer .container {
    width: 95%;
    /* margin: auto; */
  }
  footer .original-return,
  .mobile-app {
    display: none;
  }
  footer .container-1 {
    flex-direction: column;
  }
  footer .sub-container .keep-in-touch-res {
    display: block;
    margin-left: -41px;
  }
  footer .online-shopping-tab {
    display: flex;
  }
  footer .shop-container {
    display: flex;
  }
  footer .shop-container .item {
    margin: 0px 10px 0px 0px;
  }
  footer .container .sub-container .online-shopping-tab,
  .useful-link-tab,
  .customer-policies-tab,
  .myntra-app-tab,
  .logos,
  .shop-container {
    display: flex;
    margin-left: 65px;
  }
  footer .sub-container .btn {
    margin: 0px 10px 0px 0px;
  }
  footer .container-1 .sub-container .heading {
    margin: 30px 0px 30px 65px;
  }
  footer .container-2 .item-container {
    width: 100%;
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container-2 .heading {
    margin: 20px 0px 20px 10px;
  }
}

@media only screen and (max-width: 821px) {
  footer .container .sub-container .online-shopping-tab,
  .useful-link-tab,
  .customer-policies-tab,
  .myntra-app-tab,
  .logos,
  .shop-container {
    flex-wrap: wrap;
  }
  footer .sub-container .btn {
    margin: 5px 10px 5px 0px;
  }
}

@media only screen and (max-width: 600px) {
  footer .container-3 {
    flex-direction: column;
    margin-left: 8px;
  }
  footer .container-3 .cont-2 {
    margin-top: -96px;
  }
  footer .container-2 .contact-div {
    flex-direction: column;
    padding-bottom: 0px;
    margin-left: 8px;
  }
  footer .container-3 .cont-1 .heading {
    margin-left: 0px;
  }
  footer .container-4 .text {
    margin-left: 10px;
  }
}
