* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================vineet Header css code start================= */
body {
  background-color: rgb(225, 224, 224);
}

.timer {
  color: #ff3f6c;
}
/* =========================vineet's header code end======================= */


a{
  text-decoration: none;
}
.text-banner-container {
  width: 100%;
  padding: 3%;
}
h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 5px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  padding: 1%;
}

/* ---------------general css----------- */

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------css of images----------------- */
.logoimages {
  display: none;
}
.logoimages img {
  width: 8%;
  margin: 2%;
}
.images1 {
  flex-wrap: wrap;
}
.images1 img,
.images3 img,
.images4 img,
.images6 img,
.images7 img {
  width: 160px;
}

.images2 img {
  width: 180px;
}

.images5 img {
  width: 320px;
}

.slider {
  margin: 5%;
  display: none;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1em;
  }
  .logoimages {
    display: inherit;
  }

  .images5 img {
    width: 100%;
  }
  .slider {
    display: inherit;
  }
}

/* Footer */










/* ==============================Vineet's Responsive Code start===================== */

@media only screen and (max-width: 1200px) {
  .header_menu,
  .logo,
  .header_input_div,
  .header_icon_text,
  .new_pink {
    display: none;
  }
  .burger_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .burger_div {
    display: none;
  }
}

/* ========================Vineet Responsive code end ============== */


@media only screen and (max-width: 1280px) {
  .container .first-box .images1 img{
    width: 150px;
  }
  .container .second-box .images2 img{
    width: 172px;
  }
  .container .third-box .images3 img{
    width: 150px;
  }
  .container .fourth-box .images4 img{
    width: 150px;
  }
  .container .fifth-box .images5 img{
    width: 305px;
  }
  .container .sixth-box .images6 img{
    width: 150px;
  }
  .container .seventh-box .images7 img{
    width: 150px;
  }
}


@media only screen and (max-width: 1024px) {
  .container .first-box .images1 img{
    width: 160px;
  }
  .container .second-box .images2 img{
    width: 136px;
  }
  .container .third-box .images3 img{
    width: 118px;
  }
  .container .fourth-box .images4 img{
    width: 118px;
  }
  .container .fifth-box .images5 img{
    width: 240px;
  }
  .container .sixth-box .images6 img{
    width: 117px;
  }
  .container .seventh-box .images7 img{
    width: 117px;
  }
}

@media only screen and (max-width: 912px) {
  .container .first-box .images1 img{
    width: 105px;
  }
  .container .second-box .images2 img{
    width: 120px;
  }
  .container .third-box .images3 img{
    width: 104px;
  }
  .container .fourth-box .images4 img{
    width: 104px;
  }
  .container .fifth-box .images5 img{
    width: 212px;
  }
  .container .sixth-box .images6 img{
    width: 103px;
  }
  .container .seventh-box .images7 img{
    width: 103px;
  }
}

@media only screen and (max-width: 820px) {
  .container .first-box .images1 img{
    width: 94px;
  }
  .container .second-box .images2 img{
    width: 108px;
  }
  .container .third-box .images3 img{
    width: 94px;
  }
  .container .fourth-box .images4 img{
    width: 94px;
  }
  .container .fifth-box .images5 img{
    width: 192px;
  }
  .container .sixth-box .images6 img{
    width: 94px;
  }
  .container .seventh-box .images7 img{
    width: 94px;
  }
}



@media only screen and (max-width: 768px) {
  .container .first-box .images1 img{
    width: 87px;
  }
  .container .second-box .images2 img{
    width: 100px;
  }
  .container .third-box .images3 img{
    width: 87px;
  }
  .container .fourth-box .images4 img{
    width: 87px;
  }
  .container .fifth-box .images5 img{
    width: 177px;
  }
  .container .sixth-box .images6 img{
    width: 87px;
  }
  .container .seventh-box .images7 img{
    width: 87px;
  }
}


@media only screen and (max-width: 540px) {
  .container .first-box .images1 img{
    width: 60px;
  }
  .container .second-box .images2 img{
    width: 69px;
  }
  .container .third-box .images3 img{
    width: 60px;
  }
  .container .fourth-box .images4 img{
    width: 60px;
  }
  .container .fifth-box .images5 img{
    width: 125px;
  }
  .container .sixth-box .images6 img{
    width: 60px;
  }
  .container .seventh-box .images7 img{
    width: 60px;
  }
}


@media only screen and (max-width: 414px) {
  .container .first-box .images1 img{
    width: 60px;
  }
  .container .second-box .images2 img{
    width: 51px;
  }
  .container .third-box .images3 img{
    width: 44px;
  }
  .container .fourth-box .images4 img{
    width: 44px;
  }
  .container .fifth-box .images5 img{
    width: 93px;
  }
  .container .sixth-box .images6 img{
    width: 44px;
  }
  .container .seventh-box .images7 img{
    width: 44px;
  }
}


@media only screen and (max-width: 394px) {
  .container .first-box .images1 img{
    width: 41px;
  }
  .container .second-box .images2 img{
    width: 48px;
  }
  .container .third-box .images3 img{
    width: 41px;
  }
  .container .fourth-box .images4 img{
    width: 41px;
  }
  .container .fifth-box .images5 img{
    width: 88px;
  }
  .container .sixth-box .images6 img{
    width: 41px;
  }
  .container .seventh-box .images7 img{
    width: 41px;
  }
}


@media only screen and (max-width: 376px) {
  .container .first-box .images1 img{
    width: 40px;
  }
  .container .second-box .images2 img{
    width: 46px;
  }
  .container .third-box .images3 img{
    width: 40px;
  }
  .container .fourth-box .images4 img{
    width: 40px;
  }
  .container .fifth-box .images5 img{
    width: 84px;
  }
  .container .sixth-box .images6 img{
    width: 40px;
  }
  .container .seventh-box .images7 img{
    width: 40px;
  }
}