*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* body{
    background-color: rgb(242, 148, 148);
    border:5px solid red;
} */
.text-banner-container{
    width: 100%;
    padding: 3%;
}
h4 {
    text-transform:uppercase;
    color:#3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 5px 0 10px 30px;
    max-height: 5em;
    font-weight: 500;
}

.images1{
    display: flex;
}
.images1 img{
    width: 12.5%;
}
.images2{
    display: flex;
}
.images2 img{
    width: 14.3%;
}
.images3rd{
    display: flex;
}


