/* ---------------general css----------- */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------css of images----------------- */
.logoimages {
  display: none;
}
.logoimages img {
  width: 8%;
  margin: 2%;
}

.images1 img,
.images3 img,
.images4 img,
.images6 img,
.images7 img {
  width: 160px;
}

.images2 img {
  width: 180px;
}

.images5 img {
  width: 320px;
}

h4 {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 2.5em;
  margin: 5px 0 10px 30px;
  max-height: 5em;
  font-weight: 500;
  padding: 5%;
}
.slider {
  margin: 5%;
  display: none;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1em;
  }
  .logoimages {
    display: inherit;
  }

  .images5 img {
    width: 100%;
  }
  .slider {
    display: inherit;
  }
}
/* @media only screen and (min-width:480){
    .images2 img{
        width: 100%;
    }
} */

/* .banner1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
} */
/* .product1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
/* grid-template-rows:  auto auto; */
/* } */
/* .product1 img{
    height: 100%;
    width: 100%;
}
.product2-1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.products2 img{
    height: 100%;
    width: 100%;
}
.product2-2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}
.text-banner-container{
    width: 100%;
    padding: 3%;
} */

/* @media only screen and (max-width:480px){
    h4 {
        font-size: 1em;  
    }
    .images1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        

    }
    .images3rd {
        width:100%;
    }

} */
